@font-face {
  font-family: 'JetBrains_Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-Light.ttf');
}


body, button {
  margin: 0;
  font-family: JetBrains_Mono;
}



/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}