@import '../../sass/Variables.scss';

.projectContainer{
    background-color: white;
    // border: 1px solid $textColor;
    margin-top: 8px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.projectHeading{
    font-size: $h1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.imageContainer {
    height: 256px;
    overflow: hidden;
}
.imageContainer img {
    width: 100%;
    height: 100%;
}

.buttonContainer{
    margin: 4px;
    height: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttonContainer button{
    height: 24px;
    width: 128px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
    font-size: $buttonFontSize;
    outline: none;
}
.buttonContainer button:hover{
    background-color: $textColor;
    color: white;
}
.buttonContainer div:hover{
    background-color: whitesmoke;
}

.arrowLogoContainer{
    width: 24px;
    height: 24px;
    // border-radius: 4px;
    // border: 1px solid $textColor;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrowLogoContainer img{
    width: 100%;
    height: 100%;
}
.arrowDown{
    transform: rotate(90deg);
}

.arrowUp{
    transform: rotate(-90deg);
}


.projectDescription{
    background-color: white;
    border-radius: 4px;
    display: none;
}